.mazeContainerTable {
    aspect-ratio: 1/1;
    margin-top: 10px;
    box-sizing: border-box;
}

.mazeContainerTable > table {
    background-color: white;
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 0;
}

.mazeCellTable {
    aspect-ratio: 1/1;
    box-sizing: border-box;
}